# Virtual environment
.venv/
venv/
ENV/
env/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env
!.env.example

# SQLite Databases
*.db
*.sqlite3

# Logs & testing
*.log
.pytest_cache/
.coverage
htmlcov/
test_sandbox*/

# App Data & Webview Cache
data/


# OS specific
.DS_Store
Thumbs.db
